* {
    font-family: 'Mulish', "Poppins",  sans-serif;
}


.font-size-sm {
    font-size: 11.4px;
}

.font-size-md {
    font-size: 14px;
}

.font-size-xmd {
    font-size: 18px;
}

.font-size-lg {
    font-size: 21.4px;
}

.font-size-xlg {
    font-size: 23px;
}

.font-size-xxlg {
    font-size: 30px;
}

/* ############################################## */

.font-weight-sm {
    font-weight: 400;
}

.font-weight-md {
    font-weight: 500;
}


.font-weight-xmd {
    font-weight: 600;
}

.font-weight-lg {
    font-weight: 700;
}

.font-weight-xlg {
    font-weight: 800;
}

.font-weight-xxlg {
    font-weight: 900;
}

.line-height-sm{
    line-height: 16px;
}

.line-height-md {
    line-height: 20px;
}

.line-height-lg {
    line-height: 24px;
}

.lbr-50{
    margin-left: 50px;
}

.lbr-75{
    margin-left: 50px;
}

.lbr-100{
    margin-left: 50px;
}



.go-down-sd{
    margin-top: 10px;
}

.go-down-md{
    margin-top: 21px;
}


.class-updown{
    transition: transform 0.5s ease-in-out;
}

.class-updown:hover{
    transform: translateY(-5px);
}


.bg-color-green{
    background-color: #4b975a;
}


.prm-color-green{
	color: #48d38a;

}


.prm-color-red{
	color: #f7685b;
}




.join-assignment-contain{
    margin-top: 120px;
    width: 600px;
    height: 250px;
    border: 1.7px solid #e0e0e0;
    border-radius: 8px;
    padding: 24px 24px;
}


.basic-btn{
	background-color: #40196d;
	color: white;
	border: none;
	padding: 10px 55px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 15px;
    letter-spacing: 1px;
}

.join-help{
    margin-top: 70px;
}


.join-assignment-input{
    border: 1.8px solid #e0e0e0;
    outline: none;
}



.ass-details-contain{
    padding: 20px 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.lecturer-name{
    color: #5f6368;
}

.due-date{
    margin-left: 300px;

}



.submit-ass-contain{

    padding: 30px 40px;

    /* border: 2px solid black; */
    
    border-radius: 8px;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}


.comment-lecturer-contain{
    border: 2px solid black;

}

.add-assignment-btn{
    text-decoration: none;
    border: 1.9px solid #e0e0e0;
	padding: 8px 55px;
    border-radius: 8px;
    background-color: #fff;
	color: #40196d;
    overflow: hidden;


}

 

.turn-in-btn{
    text-decoration: none;
    border: 1.9px solid #e0e0e0;
	padding: 8px 55px;
    border-radius: 8px;
    background-color: #40196d;
	color: #fff;

}


.check-header{
	margin-top: 48px;
	background-color: #eff1ff;
	width: 450px;
	font-size: 11.41px;
	font-weight: 700;
	line-height: 15.974px;
	color: #40196d;
	padding: 11px 21px;
	border-radius: 5px;
	box-shadow: 15px 30px 40px 0px rgba(64, 25, 109, 0.071);
  }

.check-header a{

    text-decoration: none;
    color: #48d38a;
    font-weight: 1000;
}






.assigment{
	padding: 8px 15px;
    border-radius: 8px;

    border: 1.9px solid #e0e0e0;
}



.add-user-btn{
	padding: 15px 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 14px;

    background-color: #2ea043;

    border: 1.9px solid #e0e0e0;

    transition: transform 0.5s ease-in-out;
}

.add-user-btn:hover{
    background-color: #2ea043;
	transform: translateY(-5px);

}


.error-msg{
	background-color: #ffdbdb;
	color: #f7685b;
	font-weight: 700;
	font-size: 11.2px;
	text-align: center;
	padding: 10px 46px;
	border-radius: 5px;
}



#loading-div {
	background-color: #dbdbdb;
	position: relative;
	border-radius: 10px;
	height: 50px;

}

#loading-div::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
	animation: loading-animation 1.5s infinite linear;
}


@keyframes loading-animation {
	0% {
	  background-position: -200px;
	}
	100% {
	  background-position: 200px;
	}
}





.add-user-modal-content{
    padding : 30px;
}









@media screen and (max-width: 414px) {


    .due-date{
        margin-left: 7px;

    }
    


}