<!DOCTYPE html>
<html>
<head>
    <title>Black Listed Face Detection</title>
    <style>
        #videoElement {
            width: 640px;
            height: 480px;
            border: 2px solid #000;
        }
    </style>
</head>
<body>
    <h1>Real-Time Face Detection</h1>
    <br>
    <img id="videoElement" style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 25%);" src="http://127.0.0.1:8000/video/feed" width="390" height="292">

    <script>
        
    </script>
</body>
</html>
